
/* loader 8 */
#{$section}9{
  box-sizing: border-box;
  background-color: $black;
}

#{$loader}8{
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  transform: rotate(175deg);
  border-radius: 50%;

  animation: loader8 15s infinite linear;

  span{
    position: absolute;
    top: calc(24px * var(--i));
    bottom: calc(24px * var(--i));
    left: calc(24px * var(--i));
    right: calc(24px * var(--i));
  
    border-radius: 50%;
    border: 20px solid #0b0b0b;
    border-top: 20px solid $green;
    border-left: 20px solid $green;
  
    animation: animate9 1s alternate ease-in-out infinite;
    filter: hue-rotate(calc(60deg * var(--i)));
    animation-delay: calc(-.1s * var(--i));
  }
}