.navigation{
  display: none;
  background-color: $white;
  @include wh1;
  @include f00;
  z-index: 1100;

  ul{
    position: relative;

    &:hover li{
      &:hover a{
        color: $black;
        background-color: $white;
      }

      a{color: #0002;}
    }

    li{
      text-align: center;

      a{
        font-family: sans-serif;
        color: $grayBlack;
        text-decoration: none;
        font-size: 3em;
        padding: 5px 20px;
        display: inline-flex;
        font-weight: 700;
        transition: .5s;
        line-height: 1.3;

        &:before{
          @include fcc;
          @include wh1;
          content: "";
          position: absolute;
          top: 50%;
          left: 40%;
          z-index: 1000;
          transform: translate(-50%, -50%);
          font-size: 5em;
          line-height: 1;
          color: rgba(0,0,0,1);
          border-radius: 50%;
          z-index: -1;
          opacity: 0;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 500px;
          transition: letter-spacing .5s, left .5s;
        }

        &:hover:before{
          width: 100vw;
          height: 150vh;
          content: attr(data-text);
          opacity: .3;
          left: 50%;
          letter-spacing: 10px;
        }
      }
    }
  }


  &.active{
    display: flex !important;
  }
}