<!DOCTYPE html>
<html lang="en">
<head>{{> head }}</head>
<body>
    {{> header }}
    {{> nav }}
    {{> body }}
    {{> footer }}

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- sketch -->
<script src="https://rawgithub.com/soulwire/sketch.js/master/js/sketch.min.js"></script>

<!-- p5 -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>

<!-- trigger scroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>

<!-- pixiJs -->
<script src="https://pixijs.download/v6.1.2/pixi.min.js"></script>

<!-- three -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/bas.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/OrbitControls-2.js"></script>

<!-- app -->
<script src="assets/js/app.js"></script>
</body>
</html>
